body{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family:Ubutun;
}
.users{
	display: flex;
	flex-wrap: wrap;
	

}
.user{
	display:grid;
	justify-items: center;
	background:hotpink;
	height:400px;
    width:350px;
    border-radius:12px;
    margin: 1rem;
    padding: 1rem;
    
}
.user h4{
	margin-left:1rem;
}
.user img{
	margin-top:1rem;
	border-radius:50%;
}
